.page[b-lo9hwgyg7s] {
  position: relative;
  display: flex;
  flex-direction: column;
}

main[b-lo9hwgyg7s] {
  flex: 1;
}

.sidebar[b-lo9hwgyg7s] {
  background-image: linear-gradient(
    109.6deg,
    rgba(118, 12, 99, 1) 11.2%,
    rgba(71, 11, 75, 1) 98.6%
  );
  /* background-image: linear-gradient(circle 918px at 13.1 % 25.5 %, rgba(249, 107, 107, 1) 0 %, rgba(247, 231, 172, 1) 48.9 %, rgba(173, 247, 172, 1) 90 % ); */
}

.top-row[b-lo9hwgyg7s] {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-row[b-lo9hwgyg7s]  a,
.top-row[b-lo9hwgyg7s]  .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
  text-decoration: none;
}

.top-row[b-lo9hwgyg7s]  a:hover,
.top-row[b-lo9hwgyg7s]  .btn-link:hover {
  text-decoration: underline;
}

.top-row[b-lo9hwgyg7s]  a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
  .top-row[b-lo9hwgyg7s] {
    justify-content: space-between;
  }

  .top-row[b-lo9hwgyg7s]  a,
  .top-row[b-lo9hwgyg7s]  .btn-link {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-lo9hwgyg7s] {
    flex-direction: row;
  }

  .sidebar[b-lo9hwgyg7s] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row[b-lo9hwgyg7s] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row.auth[b-lo9hwgyg7s]  a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
  }

  .top-row[b-lo9hwgyg7s],
  article[b-lo9hwgyg7s] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}

#blazor-error-ui[b-lo9hwgyg7s] {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss[b-lo9hwgyg7s] {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}
