@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation


<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <a class="nav-link btn btn-link" href="/authentication/logout">Log out</a>
    </Authorized>
    <NotAuthorized> 
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogout(MouseEventArgs args)
    {
        Navigation.NavigateTo("/authentication/logout");
        
        // Navigation.NavigateTo("authentication/logout");
    }
}
